@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-6">
            <h2>Category Index</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-asp-controller="Category" asp-action="Create">Crear Categoria</a>
        </div>
    </div>
</div>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Order de Visualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
                <td style="width: 50%">@category.Name</td>
                <td style="width: 10%">@category.DisplayOrder</td>
                <td style="width: 10%">
                    <a class="btn btn-info" asp-asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

